@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --accent-color: #e2e8f0;
}

body{
  color: theme(--color-slate-400);
  background-color: theme(--color-slate-900);
}

h1 {
  color: var(--accent-color);
}
