@import "tailwindcss";

@theme {
  --color-secondary-text-color: #e2e8f0;
  --color-primary-text-color: oklch(70.4% 0.04 256.788);
  --color-accent-color: oklch(77.7% 0.152 181.912);
}

:root {
  font-family: Inter, sans-serif;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0f172b;
  color: var(--color-primary-text-color);
}

h1 {
  color: var(--color-accent-color);
}

.glass-card {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.4);
  color: #f1f5f9;
}
